@import url('https://fonts.googleapis.com/css2? family= Poppins:ital,wght@0,300;0,400;0,700;1,400;1,500;1,600 & family = Roboto:wght@400;700 & exibir=trocar');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sem serif;
    list-style: none;
    text-decoration: none;
}

body{
    color: black;
    background: white;
    height: 100vh;
}

:root{
    --red:#2580d6;
    --white:#fff;
    --dark:#f80808;
    
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    box-shadow: 0 0.1rem 0.5rem #999797e5;
    background-color: white;
    transition: all 0.5s;
    position: fixed;
    width: 100%;
    background-image: linear-gradient(to right,rgb(245, 34, 192), #2580d6, #f80808);
}

.navigation .logo{
    color: black;
    font-size: 1.8rem;
    font-weight: 700;
}

.navigation ul{
    display: flex;
    align-items: center;
    gap: 4rem;
    }

.navigation ul li a{
    color: black;
    font-size: 24px;
    font-weight: 500;
    transition: all 0.5s;
    }

.navigation .whatsapp img{
width: 25px;
height: 25px;
}

.navigation .instagram img{
    width: 25px;
    height: 25px;
    }

    .navigation .facebook img{
        width: 25px;
        height: 25px;
        border-radius: 2px;
        }
.navigation ul li a:hover{
    color: white;
}

.navigation i{
    cursor: pointer;
    font-size: 1.5rem;
}

.menu{
    cursor: pointer;
    display: none;
}

.menu .bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background-color: rgb(245, 34, 192);
    margin: 5px auto;
    transition: all 0.5s;
}

.menu .bar:nth-child(1),
.menu .bar:nth-child(3){
    background: var(--red);}


/*HOME*/
.home{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 10%;
}

.home-text{
    max-width: 50rem;
    padding-left: 5%;
        
}

.home-text .text-h4{
    font-size: 3rem;
    color: #2580d6;
    margin-bottom: 2rem;
    
}

.home-text .text-h2{
    font-size: 2.3rem;
    color: #bb2c9c;
    margin-bottom: 2rem;
    
}

p{
    margin-bottom: 5rem;
    font-size: 24px;
   
}

.home-btn1{
    
    display: flex;
    justify-content: center;
    padding: 15px 45px;
    background-image: linear-gradient(to right,rgb(245, 34, 192), #2580d6, #f80808);
    color: white;
    border-radius: 10px;
    font-weight: 700;
    font-size: 20px;
    transition: all 0.5s;
    border: none;
    margin-left: 25%;
    margin-right: 25%;
    margin-top:5% ;
    
}

.home-btn:hover{
    color: black;
}

.logo img{
    width: 500px;
    margin-top: 6%;
    margin-left: 10%;
    
}

.mobile-menu-icon{
    display: none;
}

.mobile-menu{
    display: none;
}


@media (max-width:1020px){
    .navigation{
        padding: 18px 20px;
    }
    .menu{
        display: block;
    }

    .menu.ativo .bar:nth-child(1){
        transform:  translateY(8px) rotate(45deg);
    }
    .menu.ativo .bar:nth-child(2) {
        opacity: 0;
    }
    .menu.ativo .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        right: -100%;
        top: 20px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background: white;
        gap: 10px;
        transition: 0.3s;
    }
    .nav-menu.ativo{
        right: 0;
    }
    .nav-item{
        margin: 16px 0;
    }


    /*main*/
        .home{
            padding: 80px 2%;
            flex-direction: column;
            text-align: center;
            overflow: hidden;
            gap: 2rem;

        }
        .home .text-h4{
            font-size: 30px;
        }
        .home .text-h1{
            font-size: 2.5rem;
            line-height: 3rem;
        }
        .home p{
            font-size: 24px;
        }
        .logo img{
            width: 80%;
            margin-left: 25px;
                  
        }
    }

/*FIM DO HOME*/


/*SOBRE NÓS*/
.home-sobre{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 7%;
    
       
    
}


.home-sobre-text h4{
    font-size: 3rem;
    color: #2580d6;
    margin-bottom: 0.5rem;
    
}

.home-sobre-text h1{
    font-size: 3rem;
    color: #bb2c9c;
    margin-bottom: 0.5rem;
    
}


.p-sobre{
    margin-bottom: 1rem;
    font-size: 24px;
    

    }

.home-btnsobre{
    display: flex;
    justify-content: center;
    padding: 15px 45px;
    background-image: linear-gradient(to right,rgb(245, 34, 192), #2580d6, #f80808);
    color: white;
    border-radius: 10px;
    font-weight: 700;
    font-size: 20px;
    transition: all 0.5s;
    border: none;
    margin-left: 25%;
    margin-right: 25%;
    margin-top:5% ;

   
    
}

.home-carro-sobre img{
    width: 600px;
    padding-left: 6%;
    
}
     
    @media (max-width:785px){
        .navigation{
            padding: 18px 20px;
        }
        .menu{
            display: block;
        }

        .menu.ativo .bar:nth-child(1){
            transform:  translateY(8px) rotate(45deg);
        }
        .menu.ativo .bar:nth-child(2) {
            opacity: 0;
        }
        .menu.ativo .bar:nth-child(3){
            transform: translateY(-8px) rotate(-45deg);
        }
        .nav-menu{
            position: fixed;
            right: -100%;
            top: 20px;
            width: 100%;
            height: 100%;
            flex-direction: column;
            background: white;
            gap: 10px;
            transition: 0.3s;
        }
        .nav-menu.ativo{
            right: 0;
        }
        .nav-item{
            margin: 16px 0;
        }

       /*main*/
       .home-sobre{
        padding: 70px 2%;
        flex-direction:column;
        text-align: center;
        overflow: hidden;
        gap: 2rem;

    }
    .home-sobre-text-h4{
        font-size: 10px;
    }
    .home-sobre-text-h1{
        font-size: 2rem;
        line-height: 3rem;
    }
    .home-btnsobre{
        font-size: 24px;
        padding: 25px 45px;

    }
    .home-carro-sobre img{
        width: 80%;
        margin-top: 5%;
                  
        }
    }
/*FIM DO SOBRE NÓS*/


/*CONTATO*/

form{
    width: 450px;
    height: 60vh;
    padding: 0% 8%;
    margin-top: 5%;
    margin-right: 10%;
    border: 2px solid #2580d6;
    background: #9ec9f1;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 6px;
   
    
}

.home2-text-contato{
    max-width: 70rem;
    padding-left: 5%;
        
}

.home2-text-contato .text-titulo{
    font-size: 3rem;
    color: #2580d6;
    margin-bottom: 2rem;
    
}

.home2-text-contato .text-subtitulo{
    font-size: 2.3rem;
    color: #bb2c9c;
    margin-bottom: 2rem;
    
}

p .pcontato{
    margin-bottom: 5rem;
    font-size: 24px;
   
}

.home-btn:hover{
    color: black;
}


.logo-contato img{
    width: 500px;
    margin-top: 15%;
    margin-left: 8%;
}

main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


h1{
    font-size: 1.7rem;
    line-height: 3rem;
    text-align: center;
}


  
input, textarea, button {
    border: 1px solid #2580d6;
    background-color: #f7f7f7;
    border-radius: 5px;
    color: #777;
    font-size: 20px;
    outline: none;
    padding: 15px;
    width: 100%;
    
  }
  
input {
    margin-bottom: 2%;
    
    }


  @media (max-width:1040px){
    .navigation{
        padding: 18px 20px;
    }
    .menu{
        display: block;
    }

    .menu.ativo .bar:nth-child(1){
        transform:  translateY(8px) rotate(45deg);
    }
    .menu.ativo .bar:nth-child(2) {
        opacity: 0;
    }
    .menu.ativo .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        right: -100%;
        top: 20px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background: white;
        gap: 10px;
        transition: 0.3s;
    }
    .nav-menu.ativo{
        right: 0;
    }
    .nav-item{
        margin: 16px 0;
    }

   /*main*/
   main{
    padding: 70px 2%;
    flex-direction:column;
    text-align: center;
    overflow: hidden;
    gap: 2rem;

}

form{
    height: 40%;
    width: 90%;
    margin-left: 25%;
    margin-right: 25%;
}


.logo-contato img{
    width: 80%;
    margin-top: 5%;
    align-items: center;
    
              
    }
}
/*FIM DE CONTATO*/




/*BRINQUEDOS*/

.conteiner-festa1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 15%;
    margin-top: 7%;
    gap: 2rem;
    
}



.conteiner-festa2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 15%;
    margin-top: 7%;
    gap: 2rem;
}


.festa {
    cursor: pointer;
    align-items: center;
    display: flex;
    justify-content: space-between;
    
    text-align: center;
    
   
}

h3{
    margin-bottom: 0.5rem;
    margin-left: 10px;
    font-size: 2rem;
    color: #bb2c9c;
   text-align: center;
}

.imagem-todos img{
    cursor: pointer;
    display: flex;
    width: 350px;
    height: 210px;
    border: 1px solid;
    
}    

/*FIM BRINQUEDOS*/


    
/*zap*/
.tp{
    position: fixed;
    width: 90px;
    height: 90px;
    bottom: 50px;
    right: 20px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 25px;
 
   
    
  }
  
  .tp:hover{
    color: #e2fcef;  
    background-color: #139643;
  }


    
